﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Groupnom: Admin</title>

    @* favicons *@
    <link rel="apple-touch-icon" sizes="180x180" href="/content/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/content/favicons/manifest.json">
    <link rel="mask-icon" href="/content/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/content/favicons/favicon.ico">
    <meta name="msapplication-config" content="/content/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .myToast { position: fixed !important; top: 30px !important; left: 50% !important; right: 50% !important; width: 90px !important; display:block; margin-left: -45px; text-align: center !important; }
    </style>
</head>
<body>
    <div class="container" id="app"> 
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Meal Id</th>
                        <th>Url</th>
                        <th>Notify Url</th>
                        <th>Restaurant</th>
                        <th>Organizer</th>
                        <th>Deadline</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="meal in meals">
                        <td>{{ meal.mealId }}</td>
                        <td><a :href="meal.mealUrl">{{meal.mealUrl}}</a></td>
                        <td><a :href="meal.mealNotifyUrl">{{meal.mealNotifyUrl}}</a></td>
                        <td>{{ meal.restaurantName }}</td>
                        <td>{{ meal.organizerName }}</td>
                        <td>{{ meal.deadlineFriendly }}</td>
                        <td><a href="#" onclick="return false;" @@click="notifyOrganizer(meal.mealId)">Notify Organizer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* font awesome *@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @* Vue b/c #yolo *@
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/vue-toasted@1.0.27"></script>

    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>
    @Html.RenderScript("~/Scripts/admin.index.js")
</body>
</html>
