﻿
@{
    ViewBag.Title = "Index";
}

@section scripts {
    @Html.RenderScript("~/Scripts/admin.index.js")
}

<div id="app">
    <div class="row">
        <table class="table table-striped">
            <thead>

            </thead>
            <tbody>
                <tr v-for="meal in meals">
                    <td>{{ meal.mealId }}</td>
                    <td><a :href="meal.mealUrl">{{meal.mealUrl}}</a></td>
                    <td>{{ meal.restaurantName }}</td>
                </tr>
            </tbody>
        </table>

        @*<smart-table :auto-load="true"
            body-path="results"
            id-col="id.value"
            endpoint="http://api.randomuser.me/?results=20"
            :header="[
                {key: 'name.first', label: 'name'},
                {key: 'name.last', label: 'surname'},
                {key: 'gender'}
            ]"
            :order-by="['name.first', 'name.last']">
        </smart-table>*@
    </div>
</div>

