﻿@{
    ViewBag.Title = "Meal";
}

@section scripts {
    <script>
        var initData = {
            mealHashId: '@Model',
        };
    </script>
    @Html.RenderScript("~/Scripts/meal.edit2.js")
}

<div id="app" data-page="MealEdit2" v-cloak>
    <ul class="nav nav-tabs">
        <li :class="tabIs(0)"><a href="#" @@click="changeTab(0)" onclick="return false;">New Order</a></li>
        <li :class="tabIs(1)"><a href="#" @@click="changeTab(1)" onclick="return false;">Existing Orders</a></li>
        <li :class="tabIs(2)"><a href="#" @@click="changeTab(2)" onclick="return false;"><span class="regular">More Info</span><span class="superNarrowDevice"></span></a></li>
    </ul>
    <div class="tab" v-show="currentTab == 0">
        <button @@click="goTo(meal.restaurantUrl)" type="submit" class="btn btn-lg btn-basic noMarginTop">Step 1: View Menu</button>
        <button @@click="orderModal=true" type="submit" class="btn btn-lg btn-basic">Step 2: Add New Order</button>
        <button @@click="goTo(meal.organizer.venmoUrl)" type="submit" class="btn btn-lg btn-basic">Step 3: Pay {{meal.organizer.name}}</button>
    </div>
    <div class="tab" v-show="currentTab == 1">
        <div class="text-muted" v-show="!meal.orders.length">None at the moment. <a href="#" @@click="orderModal=true" onclick="return false;">Be the first!</a></div>
        <table class="table table-striped" v-show="meal.orders.length">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in meal.orders">
                    <td data-th="Order">{{ order.orderDetail }}</td>
                    <td data-th="Name">{{ order.name }}</td>
                    <td class="edit" @*width="70"*@><a href="#" onclick="return false;" @@click="editOrder(order.orderId)">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab moreInfo" v-show="currentTab == 2">
        <h2>Restaurant Details</h2>
        <div class="group">
            <label>Website</label><a target="_blank" :href="meal.restaurantUrl">{{ meal.restaurantName }}<i class="fa fa-external-link"></i></a>
        </div>
        <div class="group">
            <label>Phone</label><a :href="'tel:' + meal.restaurantPhoneNumberForTel">{{ meal.restaurantPhoneNumber }}</i></a>
        </div>
        <div class="group">
            <label>More</label><a target="_blank" :href="meal.googleMapsUrl">Google Maps Url<i class="fa fa-external-link"></i></a>
        </div>
        <h2>Feedback</h2>
        <div>
            We love feedback! Please visit our <a href="https://www.facebook.com/groupnomdotcom" target="_blank">Facebook page<i class="fa fa-external-link"></i></a> and Message us.
        </div>
    </div>
    <div v-show="modal" class="overlay" @@click="closeAll">&nbsp;</div>
    <div v-show="orderModal" class="modal1 orderModal">
        <close-icon @@close="closeAll"></close-icon>
        <div class="form-group">
            <label>Your order</label>
            <textarea class="form-control orderDetail" v-model="order.orderDetail" @@keyup.enter="addUpdateOrder"></textarea>
        </div>
        <div class="form-group">
            <label>Your name</label>
            <input class="form-control" v-model="order.name" id="name" @@keyup.enter="addUpdateOrder" />
        </div>
        <div class="form-group notifyCheckboxContainer group">
            <label for="n1">Get a text when food arrives?</label>
            <input id="n1" type="checkbox" v-model="order.notifyWhenFoodArrives" />
            <input type="tel" id="phone" placeholder="5555555555" v-visible="order.notifyWhenFoodArrives" v-model="order.notifyPhoneNumber" class="form-control" @@keyup.enter="addUpdateOrder" />
        </div>
        <button :disabled="loadingSaveOrder" type="submit" class="btn btn-primary btn-lg" @@click="addUpdateOrder"><i v-show="loadingSaveOrder" class="fa fa-cog fa-spin fa-fw"></i><span v-show="!loadingSaveOrder">Save</span></button>
        <div class="deleteContainer">
            <a href="#" v-show="editOrderId" onclick="return false;" @@click="deleteOrder">Delete</a>
        </div>
    </div>
</div>

<div id="close-icon" style="display:none;">
    <svg style="width: 20px; height: 20px; display: inline;" @@click="$emit('close')">
        <line x1="0" y1="0" x2="20" y2="20" stroke-width="2" stroke="#A9A9A9"></line>
        <line x1="0" y1="20" x2="20" y2="0" stroke-width="2" stroke="#A9A9A9"></line>
    </svg>
</div>


