﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Success!</title>
</head>
<body>
    <span style='font-size:40px;'>✔️</span>
</body>
</html>
