﻿[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
[v-cloak] { display:none !important; } 
// bootstrap overrides
.form-control[disabled] { background-color: #337ab7 !important; opacity:0.5 !important; }
ol { margin-bottom: 0 !important;}
.text-muted { margin-bottom: 10px; }
.form-group { margin-bottom:0 !important; }

.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }

.fa-external-link { margin-left: 8px; }
.fa-check:not(.forCopy) { color: green; }
.fa-check { margin-right:8px; }

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size:15px !important;
}
.container { 
    nav { display:none; position:absolute; top: 0; right: 0; background:white; z-index:5000; border-radius: 3px; border: 1px solid #ccc;
        a { display:block; padding:10px; }
    }
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
label { display:block !important; }

.logoContainer img.dt { width:100%; }

.jumbotron { margin-top:20px; }
.jumbotron p.lead { margin:0; }

.steps { padding:30px; border-radius: 3px; background: #f5f5f5; margin-top:30px; }
.step { 
    h2 { margin: 0 0 30px 0; font-size: 18px; font-weight: bold; }
    .form-group { margin-top:25px; }
    .form-group:first-of-type { margin-top:0px; }
}
.actions { margin-top: 30px; 
    a { display:inline-block; margin-top:13px; float:left !important; }
}

.intro {
    ol { padding-left:17px; }
    .btn { width: 100%; }
}
#menuLink { display:none; float:right; }

.deadlineContainer {
    >input { width:120px !important; float:left; }
    >span { float: left; display:inline-block; padding: 0 10px; margin-top:5px; }
    >select { float: left; width: auto !important; }
    .deadlineTime { margin-right: 10px; } 
}

.restaurantDetails {
    label { width: 75px; display:inline-block; font-weight: normal; float:left; }
    h3 { margin-bottom:20px; }
}

button[type='submit'] { margin-bottom: 10px; width:100%; margin-top:25px; }
.noMarginTop { margin-top:0!important; }

.message { font-size: 16px; line-height: 30px; }

.attendee { position:relative; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc; 
    >div { margin-top:10px; }
    label { float: left; width: 47px; margin-top: 6px; }
    input { width:calc(100% - 83px); float:left; }
    .fa { position:absolute; top: 0; right: 0; font-size: 35px; cursor:pointer; }
}

.deadline[readonly] { background-color: #fff !important; }

[data-page='MealEdit2'] {
    .nav { margin-top:30px; 
        .superNarrowDevice { display:none; }
    }
    .tab { margin-top:30px; 
        .btn-basic { background-color: rgb(221, 221, 221); }
    }
    .moreInfo {
        >div { margin-top:15px; }
        label { width: 75px; display:inline-block; font-weight: normal; float:left; } 
    }
    h2 { font-weight: bold; font-size: 15px; margin-bottom: 20px; margin-top:0; margin-top:30px; }
    h2:first-of-type { margin-top:0; }
    .notifyCheckboxContainer {
        label { float: left; margin: 4px 10px 0 0; }
        input[type='checkbox'] { width: 20px; height: 20px; } 
        input[type='tel'] { margin-top:10px; }
    }
}

[data-page='MealEdit'] {
    .restaurantDetails > div { margin-top:15px; }
    h2 { font-weight: bold; font-size: 15px; margin-bottom: 20px; margin-top:0; }
    .section { margin-top: 30px; }
    ul { padding-left:18px; }
    .toggleRestaurantDetails { display:block; margin-top:10px; }
    button[type='submit'] { margin-top:10px; }
    button.addNewOrder { margin-top:25px !important; }
    .menu { float:right; display:none;
        a { margin-left: 10px; display:inline-block; padding-left: 10px; border-left: 1px solid #ccc; }
        a:first-child { margin-left:0; border-left: none; padding-left: 0; }
    }
} 

.step.lastStep {
    .mealUrl { margin-top: 20px; font-size: 22px; }
}

.overlay { position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; background-color: rgba(0,0,0,0.5); }
.modal1 { z-index:10; width: 300px; margin: 0 auto; border-radius: 3px; border: 1px solid #ccc; padding: 30px 20px 20px 20px; background: #f7f7f7; position: fixed; top: 20px; left:0; right: 0; 
    svg { position: absolute; top: 10px; right: 10px; cursor: pointer; }
    button[type='submit'] { margin-top:25px; margin-bottom: 0 !important; }
}
.orderModal { 
    .form-group { margin-top:25px; }
    /*.form-group:first-of-type { margin-top:0px; }*/
    .deleteContainer { margin-top:25px; text-align: right;
        a { color: #800000; }
    }
}

.myToast { position: fixed !important; top: 30px !important; left: 50% !important; right: 50% !important; width: 90px !important; display:block; margin-left: -45px; text-align: center !important; }

.container { position:relative;
    .toggleMenu { position: absolute; top: -50px; right: 0; cursor: pointer;width:44px;height:44px; padding:12px; }
    .closeIcon { display:none; }
}

// desktop- and mobile-only shortcut class names
.m { display:none; }

// desktop
@media (min-width: 992px) {
    .container { width: 600px !important; }
}
// mobile
@media (max-width: 991px) {
    .dt { display:none; }
    .m { display:block; }
    .container {
        .toggleMenu { top:-30px; }
        nav { top:15px; }
    }
    body { padding-top:30px; }
    .logoContainer img.m { width:100px; margin: 0 auto; }
    .steps { margin-left: -15px; margin-right: -15px; padding:20px; margin-top:20px; }
    .modal1 { width:100%; height:100%; top:0; }
    [data-page='MealEdit'] {
        // some bootstrap overrides
        .table-striped>tbody>tr:nth-of-type(odd) { background-color: #e7e7e7; }
        .table>tbody>tr>td { border-top: none; }
        table {
            thead { display:none; }
            tbody {
                td { display: block; clear:left; position:relative; padding-left: 80px !important; }
                td.edit { text-align: right; padding-right: 15px !important; }
                td[data-th]:before { content: attr(data-th); font-weight: bold; position:absolute; top: 8px; left: 10px; }
            }
        }
    }
}
@media (max-width: 320px) { // iPhone SE / iPhone 4 or 5
    [data-page='MealEdit2'] {
        .nav { margin-top:30px; 
            .regular { display:none; }
            .superNarrowDevice { display:inline-block; }
            .superNarrowDevice:after { content:'...'; font-weight: bold; }
        }
    }
}