﻿@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    @Html.RenderScript("~/Scripts/home.index.js")
    @Html.RenderScript("~/Scripts/factories.js")
    @*<script src="~/Scripts/External/angular-clipboard.js"></script>*@
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.1/clipboard.min.js"></script>
    
    <script>
            $(function () {
                var autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('googlePlacesAutocomplete'), {
                        types: ['establishment'],
                        componentRestrictions: { country: 'us' }
                    });

                autocomplete.addListener('place_changed', function () {
                    googlePlace = autocomplete.getPlace();
                    var menuLink = $("#menuLink");
                    menuLink.show();
                    menuLink.attr("href", googlePlace.website);
                    console.dir(googlePlace);
                });
            });
    </script>
}
<div ng-app="app" ng-controller="homeIndexController" ng-cloak class="steps">
    <div class="step intro" ng-show="step == 0">
        <h2>How it Works</h2>
        <ol>
            <li>Pick a time and food spot</li>
            <li>Share the link with friends</li>
            <li>Contact the restaurant with a handy "cheatsheet" we'll send you with everyone's order</li>
            <li>Eat up! 🍕 🌮</li>
        </ol>
        <button class="actions btn btn-lg btn-primary" ng-click="next()">Let's Get Started</button>
    </div>

    <div class="step" ng-show="step == 1">
        <h2>First, a little bit about yourself:</h2>
        <div class="form-group">
            <label for="name">Your name</label>
            <input class="form-control" id="name" ng-model="meal.organizer.name" placeholder="e.g., Graham" />
        </div>
        <div class="form-group">
            <label for="email">Your email</label>
            <input type="email" class="form-control" id="email" ng-model="meal.organizer.emailAddress" placeholder="e.g., food.orderer@("@")gmail.com" />
        </div>
    </div>

    <div class="step" ng-show="step == 2">
        <h2>Details about the meal:</h2>
        <div class="form-group">
            <label>Restaurant name</label>
            <input class="form-control" id="googlePlacesAutocomplete" placeholder="e.g., Citizen" />
        </div>
        <div class="form-group">
            <label>What do you want?<a href="#" id="menuLink" target="_blank">See the menu<i class="fa fa-external-link"></i></a></label>
            <div class="text-muted">You can provide this later.</div>
            <input class="form-control" ng-model="meal.organizerOrder" placeholder="e.g., 1 burrito w/ chorizo" />
        </div>
    </div>

    <div class="step" ng-show="step == 3">
        @*<h2>Almost there!</h2>*@
        <div class="form-group">
            <label>When will you place the order?</label>
            <div class="text-muted">You'll get a "cheatsheet" at this time with everyone's order.</div>
            <div class="group deadlineContainer">
                <input type="text" readonly class="form-control deadline" uib-datepicker-popup="MM/dd/yyyy" auto-open ng-model="meal.deadlineDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span>at</span>
                <select class="form-control deadlineTime" ng-model="meal.deadlineTime" ng-options="time for time in [12, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"></select>
                <select class="form-control" ng-model="meal.deadlineAmPm" ng-options="amPm for amPm in ['AM', 'PM']"></select>
            </div>
        </div>
        <div class="form-group">
            <label>What is your Venmo username?</label>
            <div class="text-muted">This is how we'll ask everyone to pay you. <a target="_blank" href="https://venmo.com">Learn about Venmo<i class="fa fa-external-link"></i></a>.</div>
            <input type="text" class="form-control" ng-model="meal.organizer.venmoUsername" placeholder="e.g., Chuck-Norris" />
        </div>
        <button class="btn-primary btn-lg btn" ng-disabled="loading" type="submit" ng-click="save()">Get My Shareable Link</button>
    </div>

    @*<div class="step" ng-show="step == 4">
        <h2>Care to leave a personalized note for each person?</h2>
        <div class="text-muted">They'll see this at the top of the meal page.</div>
        <div class="form-group">
            <label>Note for attendees</label>
            <div class="text-muted">This is optional.</div>
            <textarea class="form-control" ng-model="meal.organizerNote"></textarea>
        </div>
        <button class="btn-primary btn-lg btn" ng-disabled="loading" type="submit" ng-click="save()">Get My Shareable Link</button>
    </div>*@

    <div class="step lastStep" ng-show="step == lastStep">
        <div class="message"><i class="fa fa-check"></i>Done! You can expect an email around {{meal.deadlineFriendly}} with a summary of orders. Start collecting orders by sharing the url below:</div>
        <div class="mealUrl">
            <a href="{{meal.url}}">{{meal.url}}</a>
        </div>
        <button class="btn btn-default btn-lg btnCopyMealUrl" data-clipboard-text="beep bop" type="submit">
            <span ng-hide="copySuccess">Copy Link</span>
            <span ng-show="copySuccess"><i class="fa fa-check forCopy"></i>Copied</span>
        </button>
    </div>

    <div class="actions group" ng-show="step < lastStep && step">
        <a href="" ng-show="step" ng-click="previous()">Previous</a>
        <button class="btn btn-primary pull-right btn-lg" ng-show="step < lastStep-1" ng-click="next()">Next</button>
    </div>
</div>