﻿@{
    ViewBag.Title = "SignIn";
}

@section scripts {
    @Html.RenderScript("~/Scripts/home.signIn.js")
}

<div id="app">
    <div class="row">
        <div class="col-xs-12">
            <h3>Enter email address to sign in:</h3>
            <div class="form-group">
                <input class="form-control" placeholder="e.g., chuck@("@")norris.com" />
            </div>
            <button class="btn-primary btn-lg btn" type="submit" @@click="signIn">Sign In</button>
        </div>
        <div style="display:none">
            https://i.imgur.com/ap7KKev.png
        </div>
    </div>
</div>

