﻿@section scripts {
    @Html.RenderScript("~/Scripts/test.js")
    @*<script src="~/Scripts/External/angular-clipboard.js"></script>*@
}
<script src="https://cdn.jsdelivr.net/clipboard.js/1.6.1/clipboard.min.js"></script>

<!-- Target -->
<input id="foo" value="http://google2.com">

<!-- Trigger -->
<button class="btn" data-clipboard-target="#foo">
    Copy
</button>