﻿@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Groupnom</title>
    @Html.RenderStyle("~/Content/Site.css")

    @* favicons *@
    <link rel="apple-touch-icon" sizes="180x180" href="/content/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/content/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/content/favicons/manifest.json">
    <link rel="mask-icon" href="/content/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/content/favicons/favicon.ico">
    <meta name="msapplication-config" content="/content/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container body-content">
        @if (controllerName == "Meal" && actionName == "Edit")
        {
            <svg class="closeIcon toggleMenu">
                <line x1="0" y1="0" x2="20" y2="20" stroke-width="2" stroke="#333"></line>
                <line x1="0" y1="20" x2="20" y2="0" stroke-width="2" stroke="#333"></line>
            </svg>
            <svg class="menuIcon toggleMenu">
                <line x1="0" y1="3" x2="20" y2="3" stroke-width="2" stroke="#333"></line>
                <line x1="0" y1="10" x2="20" y2="10" stroke-width="2" stroke="#333"></line>
                <line x1="0" y1="17" x2="20" y2="17" stroke-width="2" stroke="#333"></line>
            </svg>
        }

        <a class="logoContainer" href="~/"><img class="dt" src="~/Content/logo-ed-orig-with-tongue.png" /><img class="m" src="~/Content/logo-mobile.png" /></a>
        @*<div class="jumbotron">
            <p class="lead">Organize your team's lunch like a champ. You'll be done in minutes - so you can get back to work.</p>
        </div>*@
        @RenderBody()
    </div>

    @* font awesome *@
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    @* jQuery *@
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    @* Vue b/c #yolo *@
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/vue-toasted@1.0.27"></script>
    <script src="~/Scripts/External/v-visible.min.js"></script>
    @*<script src="~/Scripts/External/vue-clipboard.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-smart-table/2.5.0/vue-smart-table.min.js"></script>*@

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>

    @* google places api for autocomplete in restaurant search *@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtDJHT3BpBWSG4-JJ0OV-t73ApdnIr_EY&libraries=places"></script>
    @Html.RenderScript("~/Scripts/layout.js")
    <script>
        var baseUrl = '@Url.Content("~/")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
